* {
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: #F2EECB;
    scrollbar-gutter: stable;
}

body {
    margin:0;
    scrollbar-gutter: stable;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 0;
}

header li {
    margin: 0;
    display: flex;
    border: 1px solid black;
}

header a {
    background-color: grey;
    padding: 10px 40px;

}

header a:hover, header li:hover{
    background-color: lightgray;
}

.current-page{
    background-color: lightgray;
    color:darkgreen;
    padding: 10px 40px;
}

.left-header {
    border-top: 3px darkred outset;
    border-left: 3px darkred outset;
    border-bottom: 3px black outset;
    border-radius: 15px 0px 0px 15px;
}

.left-header-a{
    border-radius: 11px 0px 0px 11px;
}

.center-header {
    border-top: 3px darkred outset;
    border-bottom: 3px black outset;
}

.right-header {
    border-top: 3px darkred outset;
    border-right: 3px black outset;
    border-bottom: 3px black outset;
    border-radius: 0px 15px 15px 0px;
}

.right-header-a {
    border-radius: 0px 11px 11px 0px;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
}

h2 {
    font-size: 24px;
    margin-left: 24px;
}

a {
    text-decoration: none;
    color: darkred;
}

a:hover {
    color: darkgreen;
}

.page-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.quote {
    font-style: italic;
}

.right-image {
    float: right;
    margin: 10px;
}

form {
    width: 600px;
    margin: 0 auto;
}

legend {
    border: 1px solid grey;
    background-color: #E4E4E4;
}

fieldset, label, button, fieldset div {
    background-color: lightgrey;
}

input, textarea {
    background-color: #E4E4E4;
}

.side-by-side {
    display: flex;
    gap: 10px;
}

.form-row {
    margin-bottom: 10px;
    text-align: center;
}

.centered {
    text-align: center;
}

nav a{
    font-size: 22px;
}

.card {
    width: 275px;
    margin: 0 auto 20px;
}

.card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
